header .header-image{
    background-color: #bbcdff;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    border-bottom: dashed 5px black;
}
@media (max-width: 768px) {
    header .header-image {
        background-color: #bbcdff;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: block;
        width: 100%;
        border-bottom: dashed 5px black;
    }
      
      header .header-image img {
        margin-top: 50px;
        width: 100%;
        height: auto;
    }
      
}